<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    body{
        background-image: url("https://i.ytimg.com/vi/wYN_wds3Mlw/maxresdefault.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      #box{
        border: 2px solid rgba(255,255,255,0.5);
        background: rgba(255,255,255,0.5);
        border-radius: 0.2%;
      }
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;" id="box">
    <h1 class="display-4">Hello Teacher,</h1>
    <p class="lead">and Welcome to Online Examination System</p>
    <hr class="my-4">
    <p>Select any of them to access into the system</p>
    <p class="lead">
      <a class="btn btn-primary" style="border-radius:0px;" href="teachersignup" role="button">Create Your Account</a>
      <a class="btn btn-success" style="border-radius:0px;" href="teacherlogin" role="button">Login Now</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "exam/footer.html" %}
</body>

</html>
